body {
  background-image: url(images/space_image.png);
}

a:link {
  text-decoration: none;
  background-color: yellow;
  width: 100%;
  height: 100%;
  display: block;
}

#logo {
  width: 175px;
  height: 45px;
  text-align: center;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
}

#container {
  width: 80%;
  height: 80%;
  border-style: solid;
  border-color: white;
  margin: 5% auto;
  border-radius: 5px;
}

#header {
  height: 10%;
  width: 100%;
  border-bottom: solid;
  border-color: yellow;
}

h1 {
  color: white;
  margin: 10px 25px;
}

#navbar{
  height: 10%;
  width: 100%;
  border-bottom: solid;
  border-color: blue;
}

/*li {
  border-radius: 5px;
  border-style: solid;
}*/

#info {
  width: 90%;
  height: 65%;
  border-style: solid;
  border-color: red;
  margin: auto;
}

#footer {
  width: 100%;
  height: 5%;
  border-top: solid;
  border-color: limegreen;
}

#navlist {
  list-style-type: none;
  float: right;
  margin: 10px 20px;
}

.listitem {
  width: 80px;
  height: 20px;
  color: gray;
  display: inline;
  text-decoration: none;
  border-style: solid;
  border-color: white;
  margin: auto;
  float: left;
  margin-right: 25px;
  text-align: center;
}

#info {
  color: white;
}

#project1 {
  width: 32%;
  height: 100%;
  border-style: solid;
  border-color: white;
  float: left;
  padding: 2px;
}

#project2 {
  width: 32%;
  height: 100%;
  float: left;
  border-style: solid;
  border-color: white;
  padding: 2px;
}

#project3 {
  width: 32%;
  height: 100%;
  float: left;
  border-style: solid;
  border-color: white;
  padding: 2px;
}

a:link {
  color: #0066FF;
}

a:visited {
  color: #990033;
}

a:hover {
  color: #FF3333;
}

a:active {
  color: #00FF00;
}

#picdiv {
  width: 40%;
  height: 100%;
  border-style: solid;
  border-color: white;
  float: left;
}

#meImg {
  width: 175px;
  height: 175px;
  margin: 50px 75px;
}

#aboutinfo {
  width: 55%;
  height: 100%;
  float: left;
}

#info_p {
  border-style: solid;
  border-color: yellow;
  width: 90%;
  height: 80%;
  margin: 5% 5%;
}

.LIimage {
  width: 30px;
  height: 30px;
  margin-top: 3%;
  margin-right: 5px;
}

.contact-li {
  width: 50px;
  height: 20px;
  border-style:solid;
  border-color: orange;
}

#infolist {
  /*display: inline;*/
  border-style: solid;
  border-color: pink;
  width: 80%;
  height: 75%;
  list-style-type: none;
  padding-bottom: 2%;
}

.contactlist {
  width: 40%;
  height: 20%;
  text-align: center;
  margin: auto;
  padding-bottom: 2%;
}

#contactinfo {
  border-style: solid;
  border-color: lightgreen;
  margin: auto;
}

footer {
  border-style: solid;
  border-color: green;
  height: 80%;
  width: 60%;
  margin: 1%;
  color: white;
}
